# Terraform related files
.terraform/
.terraform.lock.hcl

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Terraform variable files (if containing sensitive data)
aws-secret

# Private keys
*.pem

# Ignore architecture diagrams (optional)
architechture.png

# Ignore editor and system-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

