# Terraform related files
.terraform/
.terraform.lock.hcl

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Private keys
*.pem

# Ignore editor and system-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

